<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rj Projects | Video Sync</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="./css/bootswatch.min.css">
    <!-- <link rel="stylesheet" href="./css/bootstrap-glyphicons.css"> -->
    <link rel="icon" href="/img/Russell-logo.png">
  </head>
  <body>
    <div class="search-header text-center">
      <!-- <img src="/img/Russell-logo.png" alt="my logo"> -->
      <h2>Youtube Realtime Video Sync</h2>
      <div id="usernameWrapper">
        <div id="error"></div>
        <form id="usernameForm">
          <input class="username" id="username" type="text" name="user" placeholder="Enter Username Here...">
          <input class="user-button" type="submit" value="Enter">
        </form>
      </div>

      <div id="search">
        <form id="searchForm">
          <input class="search-field" id="searchUrl" type="text" name="search" placeholder="Enter Youtube URL Here...">
          <button class="search-button" type="submit" name="submit">Search</button>
        </form>
      </div>

      <!-- Button to toggle users connected to socket side bar -->
      <div id="openUser">
        <button class="btn btn-primary" id="btnOpenUser">Users</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-sm-12">
        <!-- Where the videos are going to appear -->
        <div id="playerWrapper">
          <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <div id="player"></div>
          <div class="bg-primary" id="playerControl">
            <button type="button" class="btn btn-default text-left" aria-label="Left Align" id="playVideo">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default text-left" aria-label="Left Align" id="pauseVideo">
              <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
            <div id="progressBar">
              <div id="line"></div>
              <div id="indicator"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Chat box -->
      <div class="col-md-4 col-sm-12">
        <div id="chatWrapper">
          <div id="chatWindow"></div>
          <form class="form-group" id="chatForm">
            <input class="form-control text-left" type="text" style="width:300px;" id="message" placeholder="Say Something...">
            <input class="btn btn-default text-left" type="submit" value="Send">
          </form>
        </div>
      </div>
    </div>


    <!-- Users sidebar menu -->
    <div id="userWrapper">
      <div id="cross">&#x2715;</div>
      <h4 class="text-center">Users</h4><hr>
      <div id="users"></div>
    </div>

    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="https://apis.google.com/js/client.js?onload=init"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- <script src="/js/myscript.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/embed-player.js"></script>

    <script>
      function progressBarLoop(){
        var socket = io.connect();
        var $progressBar = $('#progressBar');
        var $progressIndicator = $('#indicator');
        var videoLength = player.getDuration();
        $progressBar.click(function(event){
          var divOffset = $(this).offset();
          var seekTo = (event.pageX - divOffset.left)/510*videoLength;
          var mydata = {state: 'play', time: seekTo};
          socket.emit('video event', mydata);

          var time = player.getCurrentTime();
          socket.emit('video event', time);
        });
        setInterval(function(){
          if(player == null || progressBar == null){
            return;
          }

          var fraction = player.getCurrentTime()/player.getDuration()*100;
          $progressIndicator.css("left", fraction.toString() + "%");
        }, 200);
      }
    </script>

    <script>
      $(document).ready(function(){
        var socket = io.connect();
        var $usernameForm = $('#usernameForm');
        var $users = $('#users');
        var $username = $('#username');
        var $searchUrl = $('#searchUrl');
        var $searchForm = $('#searchForm');
        var $chatForm = $('#chatForm');
        var $chatWindow = $('#chatWindow');
        var $message = $('#message');
        var $error = $('#error');

        var $playBtn = $('#playVideo');
        var $pauseBtn = $('#pauseVideo');

        // play video event
        $playBtn.click(function(e){
          var play = {state: 'play', time: player.getCurrentTime()};
          socket.emit('video event', play);
        });

        // pause video event
        $pauseBtn.click(function(e){
          var pause = {state: 'pause', time: player.getCurrentTime()};
          socket.emit('video event', pause);
        });

        socket.on('event', function(msg){
          if(msg.state == 'play'){
            if(Math.abs(msg.time - player.getCurrentTime()) > 1){
              seekTo(msg.time);
            }
            playVideo();
          }else if(msg.state == 'pause'){
            pauseVideo();
          }
        });

        // On username form submit
        $usernameForm.submit(function(e){
          e.preventDefault();
          socket.emit('new user', $username.val(), function(data){
            if(data){
              $('#usernameWrapper').hide();
              $('#search').show();
              $('#playerWrapper').show();
              $('#userWrapper').show();
              $('#chatWrapper').show();
            // }else if(!data){
            //   $error.html('Please enter a username!');
            }else{
              $error.html('Username is taken');
            }
          });
        });
        // To display online users from the socket
        socket.on('usernames', function(data){
          var html = '';
          for(i=0; i < data.length; i++){
            html += data[i] + '<br>';
          }
          $users.html(html);
        });

        // Search form submit function
        $searchForm.submit(function(e){
          e.preventDefault();
          var url = $searchUrl.val();
          socket.emit('new video', url);
        });
        socket.on('load video', function(url){
          onVideoChange(url);
        });

        // message form submit function
        $chatForm.submit(function(e){
          e.preventDefault();
          socket.emit('send message', $message.val());
          $message.val('');
        });
        socket.on('new message', function(data){
          $chatWindow.append('<strong>'+data.user+'</strong>: '+data.msg+'<br>');
        });

        // Function to close the sidebar
        $('#cross').click(function(){
          $('#userWrapper').slideToggle();
          $('#openUser').show();
        });

        $('#btnOpenUser').click(function(){
          $('#openUser').hide();
          $('#userWrapper').slideToggle();
        });

      });
    </script>
  </body>
</html>
